doctype html
html(lang="es")
	head

		title Pagina de prueba
		link(rel="stylesheet", href="./public/css/normalize.css")
		link(rel="stylesheet", href="./public/css/notify.css")
		link(href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet"  type="text/css")
		link(href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"  type="text/css")
		

	body
		include ./lib/layout/template.jade
        
	footer
		include ./lib/footer/template.jade
