
section(class="Principal")

	include ../principal/template.jade
	
section(class= "Service")
	include ../service/template.jade

section(class= "Newsletter")
	include ../newsletter/template.jade

section(class= "Final")
	include ../final/template.jade
