
body
	margin 0
	width 100%
	height auto
	overflow-x hidden
	font-family 'Roboto', sans-serif
html
	width 100%
	height 100%
@import 'nib'
@import '../../lib/layout/style.styl'
@import '../../lib/principal/style.styl'
@import '../../lib/service/style.styl'
@import '../../lib/newsletter/style.styl'
@import '../../lib/final/style.styl'
@import '../../lib/footer/style.styl'
footer
	width 100%
	height 100px
	background #ccc

	