.Left
	width 35%
	padding-left 150px
	margin-top 20px
	margin-bottom 100px
	float left

	&-text
		line-height 1.5
		font-size 16px
	&-title
		font-size 24px
	&-letter
		color #888
		
@media (max-width:800px)
	.Left
		width 100%
		padding-left 10px 
		padding-right 10px 
		padding-bottom 10px
		margin 0 auto
		text-aling center
		background #ccc
		
@media (min-width:801px) and (max-width:1000px)
	.Left
		width 100%
		margin 0 auto
		text-aling center
		padding-left 20px
@media (min-width:1001px) and (max-width:1300px)
	.Left
		padding-left 20px
.Input
	height 50px
	width 250px
	padding-left 25px
	border-top-left-radius 15px
	border-bottom-left-radius 15px
	border 1px solid #ccc
	
@media (max-width:400px)
	.Input
		width 150px
@media (min-width:1001px) and (max-width:1300px)
	.Input
		width 180px
.Buttom
	height 55px
	width 150px
	padding 5px
	border-top-right-radius 15px
	border-bottom-right-radius 15px
	color white
	background #2ecc71
	border none
	margin-left -5px
	font-size 20px
	border 1px solid #ccc
@media (max-width:400px)
	.Buttom
		width 50px
@media (max-width:800px)
	.Buttom
		width 100px
.Right
	display inline-block
	padding-top 40px
	margin-left 150px
	width 35%
	margin-bottom 100px
	
@media (max-width:800px)
	.Right
		display none


