div(class="Left")
	div(class="Left-text")
		h3(class="Left-title") Get Notify Of Any Updates!
		p(class="Left-letter") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse frigilla frigilla ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse frigilla frigilla.Suspendisse frigilla frigilla ipsum dolor sit amet.
	div(class="Left-form")
		input(class="Input",type="text",name="email", placeholder="Email Adress")
		input(class="Buttom",type="submit" value="Notify")
div(class="Right")
	iframe(src="https://player.vimeo.com/video/136114837" width="400" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen)


