div(class="Foot")
	a(href="http://", target="_blank" class="Foot-link") Contact
	a(href="http://", target="_blank" class="Foot-link") Download
	a(href="http://", target="_blank" class="Foot-link") Press
	a(href="http://", target="_blank" class="Foot-link") Email
	a(href="http://", target="_blank" class="Foot-link") Support
	a(href="http://", target="_blank" class="Foot-link") Privacy policy