.Service-columns
	width 100%
	margin 0 auto
	margin-right auto
	margin-left auto
	
.Column 
	margin 50px 0 50px 0
	display inline-block
	width 350px
	position relative
	
	&-container
		width 150px
		height 150px
		margin 0 auto
		border-radius 50%
		text-align center
		background #2ecc71
	&-text
		margin 1em
		font-family 'Roboto', sans-serif
		line-height 1.5
	&-image
		margin-top 42px
		margin-left 2.5px

@media (max-width:400px)
	.Column 
		display block
		margin 0 auto
		margin-top 10px
		width 250px
		
@media (max-width:700px)
	.Column 
		display block
		margin 0 auto
		margin-top 10px
		width 300px
@media (min-width: 801px) and (max-width:1100px)
	.Column
		margin 0 auto
		width 300px
	.Service-columns 
		margin-top 20px
		display flex
.Title
	font-size 22px
.P-text
	color #aaa
		

		