div(class="Service-columns")
	div(class="Column")
		div(class="Column-container")
			img(src="./public/image/cog.png", class="Column-image" alt="")
		div(class="Column-text")
			h3(class="Title") Editable Theme
			p(class="P-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse frigilla frigilla

	div(class="Column")
		div(class="Column-container")
			img(src="./public/image/mark.png", class="Column-image" alt="")
		div(class="Column-text")
			h3(class="Title") Flat Design
			p(class="P-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse frigilla frigilla
    
	div(class="Column")
		div(class="Column-container")
			img(src="./public/image/earth.png", class="Column-image" alt="")
		div(class="Column-text",style="text-aling:center")
			h3(class="Title") Reach Your Audience
			p(class="P-text") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse frigilla frigilla