div(class="Container")
	div(class="Message")
		div(class="Name")
			div(class="Name-brand")
				h1 Notify
			div(class="Name-dot")
				h1 .
		div(class="Message-text")
			p A great new free psd theme to showcase your new application.
		div(class="Message-icons")
			div(class= "First-icon Icons-bg")
				img(src="./public/image/apple.png", alt="")
			div(class= "Second-icon Icons-bg")
				img(src="./public/image/android.png", alt="")
			div(class= "Third-icon Icons-bg")
				img(src="./public/image/windows.png", alt="")

div(class="Hand")
	img(src="./public/image/hand2.png", alt="",class="Hand-img")
		
