.Final-Container
	width 80%
	margin 0 auto
	padding-top 20px
.Final-quotes
	width 80%
	margin 0 auto
	text-align center
	color #aaa
	font-size 18px
	font-family font-family 'Roboto', sans-serif
	font-style italic
.Quote
	width 80%
	margin 0 auto
	text-align center
	&-autor
		font-size 18px 
		font-family font-family 'Roboto', sans-serif
		font-weight bold
			
.Photo
	width 100%
	margin 0 auto
	padding-top 5px
	&-image
		margin 3px
		width 45px
		height 50px
.Final-message
	width 50%
	margin 0 auto
	padding-top 50px
	text-align center
	
.Final-GetInTouch
	font-size 22px 
	font-family font-family 'Roboto', sans-serif
	font-weight bold
	
.Final-text
	color #aaa
	font-size 16px
	font-family font-family 'Roboto', sans-serif
.icon
	width 35px
	height 35px
	border-radius 50%
	background-color #ddd	
	text-align center
	display inline-block
	margin 3px
	
	&:hover
		background #2ecc71
.icon-img
	width 20px
	margin-top 8px	
	

